{{#parallax-window backgroundClass="green-field" backgroundColor="sherpa-gray"}}
  <h1 class="sherpa-white-text font-size-70 uppercase">MENTORING FOR EMBER.JS TEAMS</h1>
  <p class="sherpa-white-text font-size-30">We help you and your team get to a happy place with Ember.js with mentorship and training.</p>
{{/parallax-window}}

{{#icon-grid}}
  {{icon-grid-item title="Invest" icon="arrows-alt" content="Invest dollars into your team and build the wealth of knowledge."}}
  {{icon-grid-item title="Train" icon="group" content="Train your team to follow best practices and stay up to date on latest changes."}}
  {{icon-grid-item title="Build" icon="code" content="Build scalable, composable, and maintainable projects."}}
  {{icon-grid-item title="Test" icon="dashboard" content="Gain more confidence in your code by ensuring proper test coverage."}}
  {{icon-grid-item title="Code Review" icon="commenting" content="Let senior developers review your team's code and teach best practices."}}
  {{icon-grid-item title="Maintain" icon="heart" content="Improve standards and maintain code in your ambitious web apps."}}
{{/icon-grid}}

{{!-- {{#square-grid}}
  {{square-grid-item icon="star"  title="Flex Box" content="some content goes here"}}
  {{square-grid-item icon="star"  title="Flex Box" content="..."}}
  {{square-grid-item icon="star"  title="Flex Box" content="..."}}
  {{square-grid-item icon="star"  title="Flex Box" content="..."}}
  {{square-grid-item icon="check" title="Flex Box" content="..."}}
  {{square-grid-item icon="check" title="Flex Box" content="..."}}
  {{square-grid-item icon="check" title="Flex Box" content="..."}}
  {{square-grid-item icon="check" title="Flex Box" content="..."}}
{{/square-grid}} --}}

{{#centered-section}}
  <div class="large">
    <h1 class="uppercase font-size-30">Our Clients Speak For Themselves</h1>
    <h4 class="sherpa-gray-text">We've helped large teams create and maintain ambitious web apps over the years. Our experience, mentorship, and success speaks for itself.</h4>
  </div>
{{/centered-section}}


{{#logo-grid}}
  {{logo-grid-item src="assets/images/clients/cvs-health.png"}}
  {{logo-grid-item src="assets/images/clients/drg.png"}}
  {{logo-grid-item src="assets/images/clients/freshbooks.png"}}

  {{logo-grid-item src="assets/images/clients/wintac.jpg"}}
  {{logo-grid-item src="assets/images/clients/hedgeserv.png"}}
  {{logo-grid-item src="assets/images/clients/locus-energy.png"}}
{{/logo-grid}}

{{#testimonial-section}}
  {{testimonial-item name="senior level mentorship..." icon="quote-left" content="The EmberSherpa team provided us with the senior level mentorship we needed for the junior developers on our team. This freed up time for our senior team members to hit the milestones we needed to deliver this quarter."}}
  {{testimonial-item name="...best practices for the team" icon="quote-left" content="When we started with EmberSherpa, most members on our team were relatively new, but we needed everyone to get up to speed quickly. EmberSherpa helped us develop best practices for our team that have held up for the past 8 months."}}
  {{testimonial-item name="helped us stay on schedule..." icon="quote-left" content="Our business unit had given us pretty demanding timelines on pushing out the product. EmberSherpa helped us stay on schedule with hours of pairing with experts every week and kept us on track without incurring technical debt."}}
{{/testimonial-section}}

{{#testimonial-section}}
  {{testimonial-item name="...application architecture needed to scale" icon="quote-left" content="I inherited a new team and with it, a very brittle app that I became responsible for. EmberSherpa helped me work with my developers to create application architecture needed to scale our app to our 10 thousand users."}}
  {{testimonial-item name="Ember.js trainings..." icon="quote-left" content="We contracted EmberSherpa for Ember.js training and I have to say that it was one of the best Ember.js trainings I have ever attended."}}
  {{testimonial-item name="...help when we need it" icon="quote-left" content="EmberSherpa has been great so far. It's great to rely on help when we need it and get pairing on complex problems throughout our app."}}
{{/testimonial-section}}

{{#centered-section}}
  <div class="large">
    <h1 class="uppercase font-size-30">Community Matters</h1>
    <h4 class="sherpa-gray-text">We believe in the synergy of community. Here are some of our friends in the front end world.</h4>
  </div>
{{/centered-section}}


{{#logo-grid}}
  {{logo-grid-item src="assets/images/community/ember-weekend.png" website="http://emberweekend.com"}}
  {{logo-grid-item src="assets/images/community/modern-web.png" website="http://modern-web.org"}}
  {{logo-grid-item src="assets/images/community/ember-weekly.png" website="http://emberweekly.com"}}


  {{logo-grid-item src="assets/images/community/ember-screencasts.png" website="http://emberscreencasts.com"}}
  {{logo-grid-item src="assets/images/community/rock-and-roll-ember.jpg" website="http://balinterdi.com/rock-and-roll-with-emberjs/"}}
{{/logo-grid}}
